<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration form</title>
</head>
<body>
<div class="center">    
  

<form action="/submit" method="POST">
     <section></section>
    <label for="name">Name</label>
   
        


  <h1>To Do List</h1>
    <br>
    <br>

    <input type="text" id="name" placeholder="item name">
    <br>
    <br>

    <input type="text" id="description" placeholder="item description">

    <input type="submit" id="submit" value="Submit">
</form>


</div>

  <style>
        body {
            background-color:aqua;

        }


        p { 
            text-align: center;
            font-size: 38px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(38, 0, 255);    }
    .center{
        margin: auto;
        width: 50%;
        border: 30% solid green;
        padding: 10px;
    }
    section{
        text-align: center;
    }
    </style>
</body>
</html>