<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration form</title>
</head>
<body>
<div class="center">    
  

<form action="/submittodoitem" method="POST">
     <section></section>
   

  <h1>To Do List</h1>
    <br>
    <br>
<label for="name">Item Name:</label>
    <input type="text" name="itemName" id="name" placeholder="item name">
    <br>
    <br>
<label for="description">Item Description:</label>

    <input type="text" name="itemDescription" id="description" placeholder="item description">
    <br>
    <br> 

    <label for="uuid">uuid</label>
    <input type="text" name="itemuuid" id="uuid" placeholder="item uuid">


    <input type="submit" id="submit" value="Submit">
</form>


</div>

  <style>
      
       
    </style>
</body>
</html>